
body{
    font-family:'Montserrat';
}


#title{
    background-color:#a13541;
    color:#fff;
}
.container-fluid{
    padding: 3% 9.4% !important;
    
}


h1{
    font-family: 'Montserrat', rgb(24, 23, 23);
    font-size: 3rem;
   line-height:2;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    line-height:2;
}


/* navbar */
.navbar-brand{
    padding-right: 50% ;
      font-family: 'Ubuntu', sans-serif;
      /* font-size: 3.25rem !important; */
      font-weight: bold;
}

.navbar{
    padding:0 0 4rem !important;
}
.nav-item{
  padding:0 6px;
}
.nav-link{
    font-size: 1.3rem ;
    
}
#navbar-cusmize{
    font-size: 3.25rem;
}

/* download Buttouns */
.download-button{
    margin: 6% 3% 5% 0%;
}

/* title image */
.title-image{
    width:50%;
    transform:rotate(30deg);
}


/* future Section */
#features{
    padding:5% 7%;
}

.Feature-blox{
    text-align: center;
    padding: 5%;
}

p{
    color: rgb(141, 135, 135);
}
.Icon{
    color:#a13541;
    margin-bottom: 1%;
}
.Icon:hover{
    color:#c4636e
}

/* Testimonials */

#testimonials{
    /* width:80%;
    margin: auto; */
    
   text-align: center;
   background-color: #c4636e;
   color:#fff
}
.carousel-item{
    padding:8% 8%;
}

#testimonials h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    line-height:2;
}

.testimonial-image{
    width:10%;
    border-radius:100%;
    margin:20px;
}

 /* Press  */
  #press{
    background-color: #c4636e;
    padding-bottom:3%;
    text-align: center;
  }
  .press-logo{
      width:15%;
    margin: 20px 20px 50px;
  }